@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@400;700&display=swap');


*, *::after, *::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --Orange: hsl(25, 97%, 53%);
    --White: hsl(0, 0%, 100%);
    --Light-Grey: hsl(217, 12%, 63%);
    --Medium-Grey: hsl(216, 12%, 54%);
    --faded: hsla(216, 12%, 54%, 0.15);
    --Dark-Blue: hsl(213, 19%, 18%);
    --circle-color: hsla(216, 12%, 8%, 0.19);
    --Very-Dark-Blue: hsl(216, 12%, 8%);
    --font-Overpass: 'Overpass', sans-serif;
}


body {
    width: 100%;
    min-width: 375px;
    min-height: 100%;
    color: var(--White);
    background-color: var(--Very-Dark-Blue);
    font-family: var(--font-Overpass);
}

p {
    color: var(--Light-Grey);
}

span.circle {
    color: var(--Medium-Grey);
    cursor: pointer;
}

span.circle:hover {
    background-color: var(--Orange);
    color: var(--White);
}

span.statement {
    color: var(--Orange);
    background-color: var(--faded);
    padding: .3rem 1.5rem;
    border-radius: 1rem;
}


button {
    background-color: var(--Orange);
    border: none;
    padding: 1rem 0px;
    border-radius: 2rem;
    text-transform: uppercase;
    font-family: var(--font-Overpass);
    color: var(--White);
    cursor: pointer;
    letter-spacing: .2rem;
    font-weight: 700;
}

button:hover {
    color: var(--Orange);
    background-color: var(--White);
}

.thanks-img {
    max-width: 10rem;
}

/*-------------------------------- rating card --------------------------------------- */

.rating-card {
    max-width: 25rem;
    min-width: 21rem;
    max-height: 45rem;
    background-color: var(--Dark-Blue);
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    border-radius: 1rem;
    gap: 1.5rem;
}

.second-state {
    padding: 3rem 1.8rem;
    align-items: center;
}

.circle {
    width: 3rem;
    height: 3rem;
    background-color: var(--faded);
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.rates {
    display: flex;
    justify-content: space-between;
}

.selected {
    background-color: var(--Light-Grey);
    color: var(--White) !important;
}

.header-paragraph {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: .5rem;
}

.header-paragraph p {
    text-align: center;
}

/*----------------------------------- attribution ------------------------------------------ */
.attribution {
    font-size: 13px;
    text-align: center;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 5px;
    color: var(--White);
    min-width: 150px;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}